/***
	Animations
					***/

@keyframes topDownOpaque {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes topDownOpaque {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-40px);
		        transform: translateY(-40px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@mixin topDownOpaque( $dur:.2s ) {
	-webkit-animation-name: topDownOpaque;
	        animation-name: topDownOpaque;
	-webkit-animation-duration: $dur;
	        animation-duration: $dur;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@keyframes topDownOpaque20 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-40px);
		        transform: translateY(-40px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes topDownOpaque20 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@mixin topDownOpaque20( $dur:.2s ) {
	-webkit-animation-name: topDownOpaque20;
	        animation-name: topDownOpaque20;
	-webkit-animation-duration: $dur;
	        animation-duration: $dur;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@keyframes downTopOpaque {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
	}
}

@-webkit-keyframes downTopOpaque {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
	}
}

@mixin downTopOpaque( $dur:.2s ) {
	-webkit-animation-name: downTopOpaque;
	        animation-name: downTopOpaque;
	-webkit-animation-duration: $dur;
	        animation-duration: $dur;
	-webkit-animation-timing-function: ease-out;
	        animation-timing-function: ease-out;
}

@keyframes play {

	0% {
		color: inherit;
	}
	50% {
		color: transparent;
	}
	0% {
		color: inherit;
	}
}

@-webkit-keyframes play {

	0% {
		color: inherit;
	}
	50% {
		color: transparent;
	}
	0% {
		color: inherit;
	}
}

@mixin play {
	-webkit-animation-name: play;
	        animation-name: play;
	-webkit-animation-duration: 3.0s;
	        animation-duration: 3.0s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@mixin fadeIn($dur:.6s) {
	-webkit-animation-name: fadeIn;
	        animation-name: fadeIn;
	-webkit-animation-duration: $dur;
	        animation-duration: $dur;
	//animation-delay: .3s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}


@keyframes fadeInTop {
	0% {
		-webkit-transform: translateY(-50px);
		        transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes fadeInTop {
	0% {
		-webkit-transform: translateY(-50px);
		        transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		opacity: 1;
	}
}

@mixin fadeInTop($dur:.6s) {
	-webkit-animation-name: fadeInTop;
	        animation-name: fadeInTop;
	-webkit-animation-duration: $dur;
	        animation-duration: $dur;
	//animation-delay: .3s;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
}

@-webkit-keyframes mapMarkerLight {
		0% {
			-webkit-box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.15);
			        box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.15);
		}
		50% {
			-webkit-box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.45);
			        box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.45);
		}
		100% {
			-webkit-box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.15);
			        box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.15);
		}
}

@keyframes mapMarkerLight {
		0% {
			-webkit-box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.15);
			        box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.15);
		}
		50% {
			-webkit-box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.45);
			        box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.3);
		}
		100% {
			-webkit-box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.15);
			        box-shadow: 0px 0px 128px 46px rgba(255,196,92,0.15);
		}
}

@mixin mapMarkerLight($dur:3s) {
	-webkit-animation-name: mapMarkerLight;
	        animation-name: mapMarkerLight;
	-webkit-animation-duration: $dur;
	        animation-duration: $dur;
	//animation-delay: .3s;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes signal {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	25% {
		opacity: 0;
		-webkit-transform: translateX(180px);
		        transform: translateX(180px);
	}
}

@keyframes signal {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	25% {
		opacity: 0;
		-webkit-transform: translateX(180px);
		        transform: translateX(180px);
	}
}

@mixin signal($dur:4s) {
	-webkit-animation-name: signal;
	        animation-name: signal;
	-webkit-animation-duration: $dur;
	        animation-duration: $dur;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
