.col {
	&-pr-0 {
		padding-right: 0 !important;
	}
	&-pl-0 {
		padding-left: 0 !important;
	}
}

.color {
	&-primary {
		color: $brand-primary;
	}
	&-body-bg {
		color: $body-bg;
	}
}

.mb {
	&-0 {
		margin-bottom: 0 !important;
	}
}

.dashed {
	border-bottom: 2px dashed;
}
