footer {
	padding-top: 30px;
	height: 90px;
	background-color: #2e2558;
	@media all and (max-width: 767px) {
		height: auto;
	}
}

.footer {
	&-copy {
		position: relative;
		display: block;
		left: -15px;
		color: #7566be;
		font-size: 14px;
		line-height: 1.3;
		@media all and (max-width: 1200px) {
			padding-left: 30px;
		}
		@media all and (max-width: 767px) {
			margin-bottom: 30px;
			left: auto;
		}
	}
	&-nav {
		position: relative;
		top: -3px;
		@media all and (max-width: 767px) {
			-webkit-columns: 2;
			        columns: 2;
			-webkit-column-rule: 3;
			        column-rule: 3;
		}
		li {
			display: inline-block;
			margin-right: 5px;
			a {
				@include font-smooth;
				font-size: 14px;
				text-decoration: underline;
				@media all and (max-width: 992px) and (min-width: 768px) {
					font-size: 12px;
				}
			}
			&:first-child a {

				color: $brand-primary;
			}
		}
		@media all and (max-width: 768px) {
			height: 100px;
		}
	}
}
