header {
	padding-top: 25px;
	padding-bottom: 25px;

}

.header {
	&-nav {
		position: relative;
		padding-top: 24px;
		li {
			position: relative;
			left: 5px;
			display: inline-block;
			@include font-smooth;
			&:not(:first-child) {
				margin-left: 66px;
			}
			&:not(:last-child)::after {
				content: '';
				display: block;
				position: absolute;
				width: 30px;
				top: 10px;
				right: -50px;
				border-top: 1px solid $brand-secondary;
			}
		}
		a {
			@include font-smooth;
			color: $brand-primary;
		}
	}
}

.logo {
	position: relative;
	width: 220px;
	height: 45px;
	@include glyph( url( ../img/logo.svg ), contain );
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 183px;
		top: 34px;
		right: -203px;
		border-top: 1px solid $brand-secondary;
	}
}
