header {
	padding-top: 25px;
	padding-bottom: 25px;

}

.header {
	&-nav {
		position: relative;
		padding-top: 24px;
		li {
			position: relative;
			left: 5px;
			display: inline-block;
			@include font-smooth;
			&:not(:first-child) {
				margin-left: 66px;
				@media all and (max-width: 768px) {
					margin-left: 38px;
				}
			}
			&:not(:last-child)::after {
				content: '';
				display: block;
				position: absolute;
				width: 30px;
				top: 10px;
				right: -50px;
				border-top: 1px solid $brand-secondary;
				@media all and (max-width: 768px) {
					width: 20px;
			    top: 11px;
			    right: -32px;
				}
			}
			&:last-child {
				@media all and (max-width: 767px) {
					margin-left: 0;
    			margin-top: 10px;
				}
			}
			&:nth-child(2) {
				&::after {
					@media all and (max-width: 767px) {
						display: none;
					}
				}
			}
		}
		a {
			@include font-smooth;
			color: $brand-primary;
			@media all and (max-width: 768px) {
				font-size: 14px;
			}
		}
		@media all and (max-width: 768px) {
			margin: 0 -15px;
			text-align: center;
		}
	}
}

.logo {
	position: relative;
	width: 220px;
	height: 45px;
	@include glyph( url( ../img/logo.svg ), contain );
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 150px;
		top: 34px;
		right: -173px;
		border-top: 1px solid $brand-secondary;
		@media all and (max-width: 1200px) {
			width: 30px;
			right: -49px;
		}
		@media all and (max-width: 768px) {
			display: none;
		}
	}
	&::before {
		content: '';
    display: block;
    width: 3px;
    height: 2px;
    position: absolute;
    background-color: #bbb2e6;
    left: 240px;
    top: 33px;
    z-index: 1;
		opacity: 0;
		@include signal;
		@media all and (max-width: 768px) {
			display: none;
		}
	}
}

@media all and (max-width: 768px) {
	.logo-wrapper {
		text-align: center;
	}
}
