/***
  Modals
      ***/

.m-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 9090;
  overflow: auto;
	&--xs {
		.m-modal-wrapper {
			width: 460px;
		}
	}
	&--lg {
		.m-modal-wrapper {
			width: 850px;
			@media all and (max-width: 768px) {
				width: 100%;
				max-width: 320px;
			}
		}
	}
  &-wrapper {
    position: relative;
    top: 10%;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;

    height: auto;
    min-height: 150px;
    padding: 40px;
    background-color: #2e2659;
    z-index: 1010;
    @include fadeInTop(.15s);
    @media all and (max-width: 767px) {
	    top: 15px;
	    width: calc(100% - 30px);
    }
  }

  @include fadeIn(.15s);
  &__closer {
		font-family: $font-family-base;
    position: absolute;
    display: block;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 60px;
    color: $brand-secondary;
    line-height: .6;
  }
  &-overlay {
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  &--opened {
    display: block;
  }
  h2 {
    text-align: center;
    font-size: 36px;
    margin: 0 0 15px;
		@media all and (max-width: 768px) {
			font-size: 20px;
		}
  }
	p {
		line-height: 1.2;
	}
	form {
		text-align: center;
	}
	.promo-text {
		margin-bottom: 60px;
		@media all and (max-width: 768px) {
			font-size: 14px;
			margin-bottom: 30px;
		}
	}
}
