.s3 {
	h2 {
		@media all and (max-width: 768px) {
			margin-bottom: 65px;
			margin-top: 35px;
		}
	}
}

.team {
	&-container {
		position: relative;
		@media all and (max-width: 768px) {
			padding: 0;
			max-width: 320px;
		}
		.swiper-button {
			&-next {
				top: 35px;
				right: 5px;
			}
			&-prev {
				top: 35px;
				left: 5px;
			}
		}
	}
	&-wrapper {
		@media all and (max-width: 768px) {
			margin-left: 0;
			margin-right: 0;
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 1;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-transition-property: -webkit-transform;
			transition-property: -webkit-transform;
			transition-property: transform;
			transition-property: transform, -webkit-transform;
			transition-property: transform,-webkit-transform;
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
		}
	}
	&-slide {
		@media all and (max-width: 768px) {
			float: left;
			max-width: 320px;
		}
	}
	&-item {
		position: relative;
		height: 400px;
		padding: 30px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#91505d+0,3d2e81+30 */
		background: rgb(145,80,93); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(145,80,93,1)),color-stop(40%, rgba(61,46,129,1)));
		background: linear-gradient(to bottom, rgba(145,80,93,1) 0%,rgba(61,46,129,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91505d', endColorstr='#3d2e81',GradientType=0 ); /* IE6-9 */
		margin-bottom: 90px;
		border-radius: $border-radius-base;
		-webkit-box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
						box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
		&__image {
			display: block;
			position: absolute;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			top: -40px;
			-webkit-box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
			        box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
			img {
				width: 150px;
				height: 150px;
			}
		}
		&__title {

			display: block;
			font-family: $font-family-serif;
			font-size: 24px;
			font-weight: 700;
			color: $brand-primary;
			line-height: 1.2;
			margin-top: 100px;
		}
		&__subtitle {
			@include font-smooth;
			display: block;
			margin-top: 5px;
			font-size: 14px;
			&--ready {
				color: $brand-light;
			}
		}
		&__list {
			margin-top: 30px;
			li {
				position: relative;
				padding-left: 10px;
				margin-bottom: 2px;
				@include font-smooth;
				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 10px;
					display: block;
					width: 4px;
					height: 4px;
					background-color: white;
					border-radius: 50%;
				}
			}
		}
		&__footer {
			position: absolute;
			bottom: 30px;
			color: $brand-primary;
			@include font-smooth;
		}
		@media all and (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
	&-form {
		height: 400px;
		padding: 30px;
		background-color: #2e2558;
		-webkit-box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
						box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
		@media all and (max-width: 768px) {
			padding: 30px 10px;
		}
		h2 {
			@include font-smooth;
			margin-top: 0;
			margin-bottom: 15px;
			@media all and (max-width: 768px) {
				font-size: 30px;
			}
		}
		p{
			@include font-smooth;
			font-size: 18px;
			@media all and (max-width: 768px) {
				font-size: 16px;
			}
		}
		.form-group {
			margin: 40px auto;
			width: 270px;
			@media all and (max-width: 768px) {
				margin: 25px auto;
			}
		}
		.checkbox+label {
			display: inline-block;
			@media all and (max-width: 768px) {
				text-align: left;
			}
		}
	}
}
