.s5 {
	&-form {
		padding: 30px;
		margin: 30px auto 0;
		width: 540px;
		height: 155px;
		background-color: #2e2558;
    -webkit-box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
		input[type=text] {
			width: 190px;
		}
		.btn {
			margin-left: 10px;
			width: 270px;
			@media all and (max-width: 992px) {
				margin-top: 0;
			}
		}
		.checkbox+label {
			margin-top: 25px;
			@media all and (max-width: 767px) {
				margin-top: 0;
			}
		}
		@media all and (max-width: 767px) {
			height: auto;
			padding: 15px 10px;
			width: 100%;
	    max-width: 320px;
			input[type="text"] {
				width: 100%;
			}
			.btn {
				margin-left: 0;
				width: 100%;
			}
		}
		@media all and (max-width: 321px) {
			max-width: 290px;
		}
	}
}
#map {
	height: 600px;
	@media all and (max-width: 767px) {
		height: 330px;
	}
}
.map {
	&-legend {
		position: relative;
		height: 190px;
		@media all and (max-width: 767px) {
			max-width: 320px;
	    margin-bottom: 90px;
	    margin-left: auto;
	    margin-right: auto;
	    float: none;
	    margin-top: 15px;
		}
		.icon-emmiter {
			position: absolute;
			&-1 {
		    right: 11px;
		    top: -15px;
				@media all and (max-width: 767px) {
					right: 60px;
					top: 0;
				}
			}
			&-2 {
				bottom: 35px;
    		left: -17px;
				@media all and (max-width: 767px) {
					left: 45px;
				}
			}
		}
		.map-message {
			font-size: 18px;
			position: absolute;
			@include font-smooth;
			white-space: nowrap;
			&-1 {
				top: 95px;
				left: -200px;
				&::after {
					content: '';
			    display: block;
			    width: 111px;
			    border-top: 4px dotted white;
								-webkit-transform: translateX(69px) translateY(2px) rotate(13deg);
								        transform: translateX(69px) translateY(2px) rotate(13deg);
					@media all and (max-width: 767px) {
						-webkit-transform-origin: left;
						        transform-origin: left;
						-webkit-transform: rotate(10deg);
						        transform: rotate(10deg);
						position: absolute;
						left: 70px;
						top: 13px;
					}
				}
				@media all and (max-width: 767px) {
					top: -15px;
    			left: 45px;
				}
			}
			&-2 {
				top: 45px;
				left: 255px;
				@media all and (max-width: 992px) and (min-width: 768px) {
					left: 155px;
				}
				&::before {
					content: '';
					display: block;
					width: 144px;
					border-bottom: 4px dotted;
					-webkit-transform: translateX(-165px) rotate(-18deg) translateY(38px);
					        transform: translateX(-165px) rotate(-18deg) translateY(38px);
					@media all and (max-width: 992px) {
						width: 66px;
						-webkit-transform: translateX(-81px) rotate(-18deg) translateY(30px);
						        transform: translateX(-81px) rotate(-18deg) translateY(30px);
					}
					@media all and (max-width: 767px) {
						width: 135px;
						-webkit-transform-origin: left;
						        transform-origin: left;
				    -webkit-transform: rotate(-60deg);
				            transform: rotate(-60deg);
				    left: 70px;
				    position: absolute;
				    margin-top: -7px;
					}

				}
				&::after {
					content: '* Данные приведены за 2018-й год';
					display: block;
					font-size: 14px;
					margin-top: 5px;
					color: #735dd7;
				}
				@media all and (max-width: 767px) {
					top: 230px;
					left: 0;
					right: 0;
					margin: auto;
					width: 280px;
				}
			}
		}
		.map-marker {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 130px;
			height: 130px;
			background-color: $brand-light;
			border-radius: 50%;
			margin: auto;
			-webkit-box-shadow: 0px 0px 128px 46px rgba(255, 196, 92, 0.15);
			        box-shadow: 0px 0px 128px 46px rgba(255, 196, 92, 0.15);
			@include mapMarkerLight;
			i {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
			}
			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 170px;
				height: 170px;
				left: -20px;
				top: -20px;
				border: 2px dotted $brand-light;
				border-radius: 50%;
				opacity: .8;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 210px;
				height: 210px;
				left: -40px;
				top: -40px;
				border: 2px dotted $brand-light;
				border-radius: 50%;
				opacity: .4;
			}
		}
	}
	&-holder {
		margin-top: 50px;
		margin-bottom: 30px;
	}
}

.promo {
	&-heading {
		position: relative;
		font-size: 0;
		margin-top: 50px;
		margin-bottom: 30px;
		@media all and (max-width: 767px) {
			position: static;
			background-color: $body-bg;
			width: 82px;
	    background-size: contain;
	    background-position: center;
		}
		&::before {
			content: '';
			width: 540px;
	    position: absolute;
	    border-top: 1px solid #3d2e81;
	    display: block;
	    left: 85px;
			top: 35px;
			@media all and (max-width: 767px) {
				position: absolute;
				width: calc(100% - 30px);
				left: 15px;
				margin-top: 45px;
				z-index: -1;
			}
		}
		&::after {
			content: '';
			width: 540px;
	    position: absolute;
	    border-top: 1px solid #3d2e81;
	    display: block;
			left: -575px;
    	top: 35px;
			@media all and (max-width: 767px) {
				display: none;
			}
		}
	}
	&-text {
		@include font-smooth;
		font-size: 18px;
	}
}
