//Core file
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
//Fonts
@import 'fonts/_intro';

//Mixins
@import 'mixins/_aligns';
@import 'mixins/_animations';
@import 'mixins/_basic';
@import 'mixins/_gradients';

@import 'theme/_glyphs';
@import 'theme/_forms';
@import 'theme/_spinner';
@import 'theme/_modals';
@import 'theme/_btns';
@import 'theme/_atoms';
@import 'theme/_tooltips';
@import 'theme/_bg';

@import 'theme/_header';
@import 'theme/_s1';
@import 'theme/_s2';
@import 'theme/_s3';
@import 'theme/_s4';
@import 'theme/_s5';
@import 'theme/_s6';
@import 'theme/_s7';
@import 'theme/_s8';
@import 'theme/_footer';

//basics
body {
	overflow-x: hidden;
}
section {

	h2 {
		margin-top: 75px;
		margin-bottom: 75px;
		text-align: center;
		font-weight: 700;
		@include font-smooth;
		@media all and (max-width: 768px) {
			font-size: 30px;
			margin-top: 55px;
			margin-bottom: 35px;
		}
	}
}

strong {
	@include reset-font-smooth;
}

a {
	@include trans;
	&:hover {
		color: $brand-light;
	}
}
//Preloader
@media screen {
	div#preloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;
		}
	div#preloader img {
		display: block;
		}
	}
@media print {
	div#preloader,
	div#preloader img {
		visibility: hidden;
		display: none;
		}
	}

@media all and (max-width: 768px) {
	body,
	html
	{
		position: absolute;
	  overflow-x: hidden;
	  overflow-y: auto;
	  -webkit-overflow-scrolling: touch;
		width: 100vw;
		height: 100vh;
	}
}
